# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# Other things
toolchain/*
!toolchain/get_me.sh

# VSCode stuff
.vscode\settings.json

# QtCreator files
*.cflags
*.config
*.creator
*.cxxflags
*.files
*.includes
